{% extends "layout.html" %}

{% block title %}
    Plataformas
{% endblock %}

{% block main %}
 <ul class="list-group">
            <li class="list-item">
              <div class="item-content">
              <img src="{{ url_for('static', filename='assets/playstation-icon.svg') }}" alt="Playstation games">
              <button class="text console button_">PS4</button>
              <div class="blank"></div>
              </div>
            </li>
            <li class="list-item">
              <div class="item-content">
                <img src="{{ url_for('static', filename='assets/xbox-icon.svg')}}" alt="Xbox games">
                <button class="text console button_">XBOX</button>
              </div>
            </li>
            <li class="list-item">
              <div class="item-content">
                <img src="{{ url_for('static', filename='assets/switch-icon.svg')}}" alt="Switch games">
                <button class="text console button_">SWITCH</button>
              </div>
            </li>
            <li class="list-item">
              <div class="item-content">
                <img src="{{ url_for('static', filename='assets/steam-icon.svg')}}" alt="Steam games">
                <button class="text console button_">STEAM</button>
              </div>
            </li>
            <li class="list-item">
              <div class="item-content">
                <button class="text console button_">CONTACT US</button>
              </div>
            </li>
        </ul>
{% endblock %}