{% extends "layout.html" %}

{% block title %}
    Plataformas
{% endblock %}

{% block main %}
<div class="plataform-offers">
    <div class="">
        <p>SUPER OFERTAS</p>
        <p>Steam</p>
    </div>
</div>

<div class="carousel">
    <button class="carousel__button carousel__button--left is-hidden">
        <img src="{{ url_for('static', filename='assets/left.svg')}}" alt="">
    </button>

    <div class="carousel__track-container">
        <ul class="carousel__track">
            <li class="carousel__slide current-slide">
                <img src="{{ url_for('static', filename='assets/cat1.jpeg')}}" alt="" class="carousel__image">
            </li>
            <li class="carousel__slide">
                <img src="{{ url_for('static', filename='assets/cat2.jpeg')}}" alt="" class="carousel__image">
            </li>
            <li class="carousel__slide">
                <img src="{{ url_for('static', filename='assets/cat3.jpeg')}}" alt="" class="carousel__image">
            </li>
        </ul>
    </div>

    <button class="carousel__button carousel__button--right">
        <img src="{{ url_for('static', filename='assets/right.svg')}}" alt="">
    </button>

    <div class="carousel__nav">
        <button class="carousel__indicator current-slide"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
    </div>

    <div class="game__info">
        <p>title</p>
        <p><span>previusprice</span> price</p>
    </div>
</div>
{% endblock %}