.plataform-offers {
    display: grid;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 16vh;
}
.plataform-offers p {
    margin:0;
    text-align: center;
}
.plataform-offers p:nth-child(1){
    font-size: 3.2rem;
    font-family: 'Titillium Web', sans-serif;    
    font-weight: 700;
    font-style: italic;
}

.plataform-offers p:nth-child(2){
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
}

/* CARROSEL */

.carousel {
    position: relative;
    width: 80%;
    height: 40vh;
    margin: 0 auto;
} /* ok */

.carousel__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
} /* ok */

.carousel__track-container{
    height: 92.3%;
    position: relative;
    overflow: hidden;
} /* ok */

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
} /* ok */

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    left: -2.8rem;
}

.carousel__button--right {
    right: -2.8rem;
}

.carousel__button img {
    width: 2rem;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background: rgba(0,0,0,.3);
    margin: 0 1.2rem;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: rgba(0,0,0,.75);
}

.is-hidden {
    display: none;
}

.game__info p {
    font-family: 'Comfortaa', sans-serif;
    font-size: 2rem;
    text-align: center;
    /* border: 1px solid black; */
    
}

.game__info p:nth-child(1){
    color: #4D4D4D;
    margin-top: 1rem;
}

.game__info p:nth-child(2){
    color: #16AD13;
}
.game__info span{
    color: #989898;
    text-decoration: line-through;
}